*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container{
    box-shadow: 5px 5px 5px ;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.login-text{
    margin-bottom: 20px;
    text-shadow: 2px 3px 5px gray ;
}
input[type="email"],input[type="password"],.login-btn{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px ;
    border: 1px solid gray;
}
.login-btn{
    background-image: linear-gradient(to right,tomato,orange);
}
.check-box{
    transform: scale(1.3);
}
.input-text{
    font-weight: bold;    
}